#This file is a sample tfvars input for this module. 
#Copy this file to your root module, populate the file with the target deployment values and remove the .sample extension.


prefix                = "SDDC1"
region                = "Southeast Asia"
vnet_address_space    = ["10.1.0.0/16"]
gateway_subnet_prefix = ["10.1.1.0/24"]
bastion_subnet_prefix = ["10.1.2.0/24"]
jumpbox_subnet_prefix = ["10.1.3.0/24"]

expressroute_gateway_sku = "Standard"
sddc_sku                 = "av36"
management_cluster_size  = 3
avs_network_cidr         = "192.168.1.0/22"
jumpbox_sku              = "Standard_D2as_v4"
admin_username           = "azureuser"

tags = {
environment = "Dev"
CreatedBy   = "Terraform"
}
